body {
  background: #1179bb url("../images/background.png") top left repeat-x;
  font-size: 11px;
  line-height: 18px;
  color: #666;
  font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

#nest {
  text-align: left;
  width: 920px;
  margin: 0 auto;
}


/* MSIE PNG HACK */
img, ul#nav li a, ul#nav li a:link {behavior:url('iepngfix.htc');}