body {
  background: #1179bb url("../images/background.png") top left repeat-x;
  font-size: 11px;
  line-height: 18px;
  color: #666;
  font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

#nest {
  text-align: left;
  width: 920px;
  margin: 0 auto;
  position: relative;
}


#logo_main {
  position: absolute;
  top: 12px;
  left: -35px;
  z-index: 1000;
}

#logo_inside {
  position: absolute;
  top: 12px;
  left: -25px;
  z-index:1000;
}


ul#nav {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  padding: 0;
  list-style-type: none;
}

ul#nav li {
  float: left;
  margin: 0;
  padding: 0;
}

ul#nav li a {
  display: block;
  height: 30px;
  padding: 22px 8px;
}

body#news ul#nav li a#news,
body#events ul#nav li a#events,
body#volunteer ul#nav li a#volunteer,
body#programs ul#nav li a#programs,
body#services ul#nav li a#services,
body#about ul#nav li a#about,
body#contact ul#nav li a#contact {
  background: transparent url(../images/nav_bkgnd_active.png) repeat-x;
  background-position: 0 10px;
}

#feature_hp {
  position: absolute;
  right: 0;
  top: 45px;
}

#feature_inside {
  margin-top: 45px;
  margin-left: 15px;
}

#homenews {
  background-image: url("../images/news_bkgnd.jpg");
  position: absolute;
  top: 214px;
  left: 2px;
  height: 237px;
  width: 300px;
}

#homenews h3 {
  position: relative;
  top: 47px;
  left: 205px;
}

#homebody, #insidebody {
  width: 874px;
  background-color: #fff;
  padding: 10px;
  border-bottom: 8px solid #857b63;
}

#homebody {
  position: relative;
  top: 450px;
  left: 22px;
}

#insidebody {
  margin-left: 24px;
}

#taskerhome {
  position: absolute;
  top: 285px;
  right: -30px;
  z-index: 1000;
}

#taskerinside {
  position: absolute;
  top: 170px;
  right: -30px;
  z-index: 1000;
}

div.harvardrule {
  height: 2px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}

ul#homefeaturettes {
  list-style-type:none;
}

ul#homefeaturettes li {
  list-style-type:none;
  float: left;
  width: 205px;
  margin: 0 5px;
}

ul#homefeaturettes li h2 {  
  margin-top: 5px;
  font-family: Georgia, Times, serif;
  font-size: 18px;
}

ul#homefeaturettes li h2 a,
ul#homefeaturettes li h2 a:link,
ul#homefeaturettes li h2 a:hover,
ul#homefeaturettes li h2 a:visited {
  text-decoration: none;
  color: #1179bb;
}

#footer {font-size: 10px;margin-top: 10px; color: #fff; padding-left: 20px;}
body#home #footer {position: relative; top: 450px; }

#footer p.right {float:right;}

#footer a, #footer a:link, #footer a:hover, #footer a:visited {color:#fff; text-decoration: none;}


/* MSIE PNG HACK */
img, ul#nav li a, ul#nav li a:link {behavior:url('iepngfix.htc');}