<% div_for event, :class => 'event' do %>
  <div class='name'><%= link_to event.name, event %></div>
  <div class='description'><%= event.description %></div>
  <div class='location'><%= h event.location %></div>
<% end %>
