<div id='upcoming_events'>
<ul>
<% Event.upcoming.each do |event| %>
  <li>
  <%= event.happens_on%> | <span class='name'><%= event.name %></span> <%= edit_if_logged_in(event) %>
  </li>
<% end %>
</ul>
</div>

<% if logged_in? %>
  <%= link_to "[add]", new_event_path %>
<% end %>