<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_prog_arts.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3>Details</h3>
    <ul class="box">
      <li>This program is run by Roberta Bowman.</li>
      <li>It is held every Monday – Friday at 4:30pm – 7:30pm.</li>
      <li>Located in our arts and crafts room on the third floor of our building.</li>
    </ul>
    
  </div> <!-- // rightcol -->
  <div id="leftcol">
    <p><%=link_to "&laquo; Back to programs...", programs_url  %>
    <h2>The Arts</h2>
    <p>This core program area enables youth to develop their creativity and cultural awareness through knowledge and appreciation of visual and tactile arts and crafts. Fine Arts program gives members the opportunity to receive guidance from a professional artist and create original artwork in disciplines such as watercolor, pastel, and monochromatic drawing.</p>
    <p>Throughout the year selected members will have their work submitted to the Boys & Girls Clubs of America National Exhibit Contest. Photography instruction is also available which provides resources and opportunities for club members interested in exploring the art of photography. Members’ photos are entered in local, regional, and national competition. The goal of the program is not just to learn how to take pictures but to explore photography as an art form by creating their own visual art. Members learn about color contrast, still life, action photography, shadows and light, and will explore photography as a style of art by learning patience, observation and arrangement.</p>
    
  </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->
