<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_aboutus_board.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3><%= image_tag("h3_history.png", :alt => "history") %></h3>
    <p class="box">The Haverhill Boys Club was established in the year 1900 as one of the original 53 clubs in the country who formed the national organization of Federated Boys Clubs. In 1957 the name of the national organization was changed to Boys Clubs of America and later became Boys & Girls Clubs of America. Today there are more than 4,000 clubs serving more than three million youth. <%= link_to "Read more about our history...", history_url %></p>
    
    
  </div><!-- // rightcol -->
  <div id="leftcol">
    <h2>Board of Directors</h2>

    <p><strong>Dan Rorke</strong><br /><em>President</em></p>
    <p><strong>Edward Fenlon</strong><br /><em>Vice President</em></p>
    <p><strong>James Rurak</strong><br /><em>2nd Vice President</em></p>
    <p><strong>Randal Bennett, CPA</strong><br /><em>Treasurer</em></p>
    <p><strong>Harold Yeo</strong><br /><em>Secretary</em></p>
    <p><strong>Richard Early</strong><br /><em>President Emeritus</em></p>

    <p>Frank Azzarito<br />
    Robert Basmajian<br />
    William Cavallaro<br />
    Daniel Chabot, Esq<br />
    William Chase<br />
    *Alfred Cirome, Esq<br />
    Alan DeNaro<br />
    *Thomas DelRosso<br />
    Michael Derr<br />
    Gregory DiBurrio<br />
    Dorothy Early<br />
    William Faraci, Esq<br />
    *Frank Iuele<br />
    Tyler Kimball<br />
    Timothy MacLean<br />
    Mathew Marino<br />
    *Christopher Mastriano<br />
    Joseph Mazzola<br />
    Arthur Morrow<br />
    Robert Tandy<br />
    Michael Tannian<br />
    Paul Weinburgh<br />
    *W. Robert Wysocki
    </p>
    
    <h3>Honorary Directors</h3>
    <p>*Joseph Nicolosi<br />
    *Frank Pallaria<br />
    Fred Malcolm, Sr.<br />
    Donald Laing<br />
    Norman Gerson</p>
    
    <p>* = Past Presidents</p>
    
    
  </div><!-- // leftcol -->
  
</div><!-- // insidebody -->
