<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>

<%= image_tag('feat_prog_camp_reg.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  <p>Registration begins March 1st until May 28th at the club. Space is limited so register as early as possible. Hours of registration are 5 p.m.-8 p.m. Monday thru Friday.<p>


  <p>New Program</p>

  <p>Early Day: $20 per week (7:00 a.m. - 8:30 a.m.)<br />
  Extended Day: $20 per week  (4:00 p.m. – 5:30 p.m.)<br />
  If you sign up for Both it is $35 per week</p>
  
</div><!-- // insidebody -->
