<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>

<%= image_tag('feat_prog_camp_reg.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
</div><!-- // insidebody -->
