<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= link_to(image_tag('camptasker_right_float.png', :id => 'taskerinside'), campreg_url) %>

<%= image_tag('feat_prog_camp.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3>2009 Summer Camp Schedule</h3>
    <ul class="box">
      <li><span class="week">Week 1</span> <span class="date">June 22 - 26</span></li>
      <li><span class="week">Week 2</span> <span class="date">June 29 - July 3</span></li>
      <li><span class="week">Week 3</span> <span class="date">July 6 - 10</span></li>
      <li><span class="week">Week 4</span> <span class="date">July 13 - 17</span></li>
      <li><span class="week">Week 5</span> <span class="date">July 20 - 24</span></li>
      <li><span class="week">Week 6</span> <span class="date">July 27 - 31</span></li>
      <li><span class="week">Week 7</span> <span class="date">August 3 - 7</span></li>
      <li><span class="week">Week 8</span> <span class="date">August 10 - 14</span></li>
      <li><span class="week">Week 9</span> <span class="date">August 17 - 21</span></li>
    </ul>
    
    
    <h3><%= image_tag("h3_staff.png", :alt => "staff") %></h3>
    <p>The staff of the Haverhill Boys and Girls club comes from all walks of life and work together to provide a great experience for the youth of Haverhill.</p>

  </div><!-- // rightcol -->
  <div id="leftcol">

    <h2>Objective</h2>
    
    <p>Camp Tasker, located in Newton, N.H., has been in operation since 1919 and thousands of boys experienced the joy of a summer camp. Last year, hundreds of girls shared the same experience.  It is that time of year again, for boys and girls to participate in fun and activities including swimming in Country Pond or our new huge pool, boating, fishing, soccer, baseball/softball, archery, arts-n-crafts, basketball or tennis in our newly paved court and much more. It is our goal to provide each camper with memories, learning, and building friendships that are taken place under the supervision of our positive staff members. The girls and boys will have a separate camp director, recreation hall, and cabins. We will have many part time staff to keep the members busy and well supervised at all times. Last year, our camp was given the highest safety rating by the State of New Hampshire. Our purpose is to have a fun and provide a safe program for developing self-esteem, sportsmanship, leadership, and personal accomplishments.</p>
    
    <h3>Extended Day</h3>
    
    <p>This new program is held from 4:00 p.m. to 5:30pm for a low fee of  $20 per week. Extended Day consist of Computer room and Gym Activities. Spaces limited to 20 campers per week. Reserve A.S.A.P.</p>
    
    <div class="harvardrule">&nbsp;</div>
    
    <h2>What to Bring</h2>
    
    <p><em><strong>Campers must bring a lunch each day</strong></em>. Appropriate clothing for the type of day should be worn, it is recommended that warm clothing and raincoats be brought on cool days. The temperatures at camp are usually cooler than in Haverhill due to the lake effect. Swimsuits and towels should be brought and can be left overnight in the cabins. Sunscreen is the responsibility of the campers and should be applied prior to arrival. Dry shorts and pants are required on the bus. Camp Tasker cannot be responsible for items that are left/lost at camp.  You are advised to be at the following bus stops early, the bus will stop at all points but will not wait beyond the posted times.</p>
    
    <h3>Bus Schedule</h3>
    <table id="bus">
      <thead>
        <tr>
          <th>Bus Stop</th>
          <th>AM Pick-up</th>
          <th>PM Return</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>Haverhill Boys and Girls Club</td>
          <td>8:30</td>
          <td>4:00</td>
        </tr>
        <tr>
          <td>Williams &amp; Primrose Street</td>
          <td>8:32</td>
          <td>3:52</td>
        </tr>
        <tr class="odd">
          <td>Primrose &amp; Ninth Ave.</td>
          <td>8:35</td>
          <td>3:50</td>
        </tr>
        <tr>
          <td>Primrose &amp; Main St.</td>
          <td>8:37</td>
          <td>3:48</td>
        </tr>
        <tr class="odd">
          <td>North Main at Wendy's</td>
          <td>8:43</td>
          <td>3:42</td>
        </tr>
        <tr>
          <td>Plaistow Sanborn Candies</td>
          <td>8:50</td>
          <td>3:35</td>
        </tr>
        <tr class="odd">
          <td>Central Square in Bradford</td>
          <td>8:05</td>
          <td>4:03</td>
        </tr>
        <tr>
          <td>So. Elm Street &amp; So. Main Street</td>
          <td>8:07</td>
          <td>4:07</td>
        </tr>
        <tr class="odd">
          <td>Currier Sq. (Mt. Washington)</td>
          <td>8:13</td>
          <td>3:50</td>
        </tr>
        <tr>
          <td>Hilldale &amp; Albert St.</td>
          <td>8:20</td>
          <td>3:54</td>
        </tr>
        <tr class="odd">
          <td>Hilldale &amp; Broadway</td>
          <td>8:24</td>
          <td>3:52</td>
        </tr>
      </tbody>
    </table>

  </div><!-- // leftcol -->

</div><!-- // insidebody -->
