<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_prog_lead.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3>Details</h3>
    <ul class="box">
      <li>Our leadership programs are run by Sharon Silverman and Samantha Early.</li>
      <li>Special meetings and other events are held in the Keystone Club room located on the third floor of our building.</li>
      <li>Regular Keystone meetings are held on Tuesdays and Thursdays at 6:30 – 7:30pm.</li>
    </ul>
    
  </div> <!-- // rightcol -->
  <div id="leftcol">
    <p><%=link_to "&laquo; Back to programs...", programs_url  %>
    <h2>Character &amp; Leadership Development</h2>
    <p>This core program area empowers youth to support and influence their club and community, sustain meaningful relationships with others, develop a positive self image, participate in the democratic process, and respect their own and others cultural identities. This program includes youth of the year, keystone club, junior staff training, and counselor in training program, community service projects, and a snow shoveling program for the elderly.</p>
    
    <h2>Youth of the Year</h2>
    <p>Until 2009, this was called "Boy of the Year". Here is the list of winners back to 1960. Congratulations to our 2009 winner, Javier Bristol!</p>
    
    <p>   <b>1960</b> John Defeo
    <br /><b>1961</b> Don Gondolfo
    <br /><b>1962</b> George Vlahos
    <br /><b>1963</b> Larry Snow
    <br /><b>1964</b> Bill Vlahos
    <br /><b>1965</b> Francis Parker
    <br /><b>1966</b> Alfred Lange
    <br /><b>1967</b> Gary Hammond
    <br /><b>1968</b> John Early
    <br /><b>1969</b> Steve Deveau
    <br /><b>1970</b> Fabian Hodgerney
    <br /><b>1971</b> Daryl Pendleton
    <br /><b>1972</b> Bill Early
    <br /><b>1973</b> Gene Dion
    <br /><b>1974</b> Keith Dion
    <br /><b>1975</b> Tim Grover
    <br /><b>1976</b> John Souza
    <br /><b>1977</b> Paul Christopher
    <br /><b>1978</b> Jim Brammer
    <br /><b>1979</b> Tom Sotirakopoulos
    <br /><b>1980</b> Steve St. Jean
    <br /><b>1981</b> Harry Rodgers
    <br /><b>1982</b> ÄúNew Gym‚Äù
    <br /><b>1983</b> Brian Levitt
    <br /><b>1984</b> John Figueroa
    <br /><b>1985</b> Guy Ryan
    <br /><b>1986</b> Eric Morgan
    <br /><b>1987</b> Rickey Early III
    <br /><b>1988</b> Walter Johnson
    <br /><b>1989</b> Glenn Allen
    <br /><b>1990</b> Eduardo Merced
    <br /><b>1991</b> Pedro Rodriguez
    <br /><b>1992</b> Victor Paulino
    <br /><b>1993</b> William Perez
    <br /><b>1994</b> Pedro Amaro
    <br /><b>1995</b> Tracy Nicolini
    <br /><b>1996</b> Angel Burgos
    <br /><b>1997</b> Greg Morales
    <br /><b>1998</b> Ramon Garcia
    <br /><b>1999</b> Steve Compere
    <br /><b>2000</b> Trieu Ngyyen
    <br /><b>2001</b> Hector Zepeda
    <br /><b>2002</b> Porfirio Matias
    <br /><b>2003</b> Kevin Bonilla
    <br /><b>2004</b> Jonathan Jones
    <br /><b>2005</b> Kevin Gallant
    <br /><b>2006</b> Rafael Munoz
    <br /><b>2007</b> Daniel Gray
    <br /><b>2008</b> Ronnie Rosario
    <br /><b>2009</b> Javier Bristol
    </p>
  
  </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->
