<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_prog_health.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3>Details</h3>
    <ul class="box">
      <li>Our “Smart Moves” program is run by Samantha Early.</li>
      <li>It is held on Tuesdays and Thursdays at 4:15 – 6:00pm.</li>
      <li>Located on the third floor of the building.</li>
    </ul>
    
  </div> <!-- // rightcol -->
  <div id="leftcol">
    <p><%=link_to "&laquo; Back to programs...", programs_url  %>
    <h2>Health &amp; Lifeskills</h2>
    <p>This core program area develops young people’s capacity to engage in positive behavior that nurtures their own well being: set personal goals and develop the competencies to live successfully as self sufficient adults. Programs include "Smart Moves" a drug, alcohol, and pregnancy prevention program and Philip Morris anti smoking program.</p>
  </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->
