<%= image_tag('logo_big_haverhill.png', :id => 'logo_main') %>

<%= image_tag('feature_kids.jpg', :id => 'feature_hp') %>

<div id="news">
  <h3><%= image_tag('h3_recent-news.png', :alt => "Recent News") %>
</div>