<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_about.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    
  </div><!-- // rightcol -->
  <div id="leftcol">
    <h2>Legal Notice</h2>
    <p>Boys &amp; Girls Clubs of America is a national organization that serves local independent member organizations (the "Local Boys &amp; Girls Clubs").  Together Boys &amp; Girls Clubs of America and the Local Boys &amp; Girls Clubs form one of the nation's largest networks of local youth organizations dedicated to promoting the health, social, educational, vocational and character development of youth throughout the United States of America.   Each Boys &amp; Girls Club organization is a separate legal entity, is governed by an independent board of directors, executive committee or other governing body and is solely responsible for its own affairs, including, but not limited to, matters of safety; compliance with federal, state and local laws; physical facilities; uses of technology, finances; policies and programs and personnel policies and decisions. Each Local Boys &amp; Girls Club has sole authority to hire, to terminate, to prescribe the duties of and to establish the terms of employment of its employees and officers. The national Boys &amp; Girls Clubs of America has no authority with respect to employment policies or decisions of Local Boys &amp; Girls Clubs. Accordingly, each Local Boys &amp; Girls Club controls its own affairs and Boys &amp; Girls Clubs of America does not control and cannot be held responsible for the actions of Local Boys &amp; Girls Clubs.</p>
  </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->
