<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_prog_sports.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3>Details</h3>
    <ul class="box">
      <li>Our Athletic Director is Juan Ruiz.
      <li>The Gym is open Monday – Friday at 3:30 – 9:00pm and Saturdays 11:00am – 4:00pm.</li>
      <li>All games and other sporting events are held in the gymnasium on the main floor of our building.</li>
      <li>Our High School Basketball League is for grades 10 – 12. All games are held on Monday nights.</li>
      <li>Our Major League Basketball is for grades 7 – 9. All games are held on Thursday nights.</li>
      <li>Our Minor League Basketball is for grades 4 – 6. All games are held on Saturdays.</li>
      <li>Our Pee Wee Floor Hockey League is for grades 1 – 3. All games are held on Friday nights.</li>
      <li>Game room activities such as pool, bumper pool, foosball, and other various tournaments are held in the Gagne Family room, located downstairs from the main floor.</li>
      <li>Our Social Recreation is run by Nisalia Perez.</li>
      <li>It is open every Monday – Friday 3:30 – 7:00pm and Saturdays 11:30am – 3:30pm.</li>
      <li>Our Bowling and Video game room is run by Dante Perella.</li>
      <li>It is located downstairs from the main floor in our bowling alley.</li>
      <li>This room is open every Monday – Friday 3:30 – 6:30pm and Saturdays 11:30am – 3:30pm.</li>
    </ul>
    
  </div> <!-- // rightcol -->
  <div id="leftcol">
    <p><%=link_to "&laquo; Back to programs...", programs_url  %>
    <h2>Sports, Fitness &amp; Recreation</h2>
    <p>This core program area develops fitness, positive use of leisure time, skills for stress management, appreciation for the environment and social and interpersonal skills. Programs include basketball and floor hockey leagues, table games, fitness testing, tournaments, and bowling.</p>
  </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->

