<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_aboutus.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    
  </div><!-- // rightcol -->
  <div id="leftcol">
    <h2>Terms of Use</h2>
    <p>Coming Soon.</p>
  </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->
